.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 638.62px;
    width: 100vw;
    position: absolute;
}

.footer .news {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 177px;
    padding: 60px 0px;
    // gap: 64px;
    background: #F7F7F8;
}
